.top-charts {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 40%;
}

.left-top-charts {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    margin-right: 2%;
    flex-grow: 2;
    width: 40%;
}
.right-top-charts {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;justify-content: center;
    width: 58%;
}

#readiness {
    width: 50%;
    height: 100%;
}

#health {
    width: 50%;
    height: 100%;
}

#activities {
    width: 33%;
    height: 100%;
}

#deliverables {
    width: 33%;
    height: 100%;
}

#variance {
    width: 33%;
    height: 100%;
}